@use '../../utils' as *;

/*----------------------------------------*/
/*  6.3 Footer Style 3
/*----------------------------------------*/

/* footer col design for home 3 */
.tp-footer-3 {
  &-area {
    position: relative;
  }

  &-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      background: #020C1B;
      opacity: .98;
    }
  }

  &-main-area {
    padding-top: 80px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(217, 217, 217, 0.08);
  }

  &-col-1 {
    @media #{$md,$sm,$xs} {
      margin-bottom: 40px;
    }
  }

  &-col-2 {
    padding-left: 55px;

    @media #{$md,$sm,$xs} {
      padding-left: 0;
      margin-bottom: 40px;
    }
  }
}